{% extends 'base.html' %}

{% block cambio %}
    <img style="height: 60px" src="{{ carrera.imagen.url }}" alt="">
    <h1> {{ carrera.titulo }}</h1>
    <h6>Comisión N° {{ carrera.comision }}</h6>

    <a href="/blog/editar/{{ carrera.id }}">{{ carrera.descripcion }}</a>
        <p class="lead mb-0">


<!--    comment-->
    {% if user.is_authenticated %}

    <form action="" method="post">
        <input type="text" name="comentario">
        <input type="hidden" name="carrera" value= "{{ carrera.id }}">
        <input type="submit" value="Enviar">

    </form>
    {% endif %}
{% endblock %}